@font-face
  font-family: 'PTSans'
  src: url('../fonts/PTSans/PTSans-Bold.woff2') format("woff2"), url('../fonts/PTSans/PTSans-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap

@font-face
  font-family: 'VWHeadlineOT'
  src: url('../fonts/VWHeadlineOT/VWHeadlineOT-Book.woff2') format("woff2"), url('../fonts/VWHeadlineOT/VWHeadlineOT-Book.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'VWHeadlineOT'
  src: url('../fonts/VWHeadlineOT/VWHeadlineOT-Black.woff2') format("woff2"), url('../fonts/VWHeadlineOT/VWHeadlineOT-Black.woff') format("woff")
  font-weight: 900
  font-style: normal
  font-display: swap

@font-face
  font-family: 'VWHeadlineOT'
  src: url('../fonts/VWHeadlineOT/VWHeadlineOT-Semibold.woff2') format("woff2"), url('../fonts/VWHeadlineOT/VWHeadlineOT-Semibold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'PTSans'
  src: url('../fonts/PTSans/PTSans-Regular.woff2') format("woff2"), url('../fonts/PTSans/PTSans-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Regular.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Regular.woff') format("woff")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-SemiBold.woff') format("woff")
  font-weight: 600
  font-style: normal
  font-display: swap

@font-face
  font-family: 'OpenSans'
  src: url('../fonts/OpenSans/OpenSans-Bold.woff2') format("woff2"), url('../fonts/OpenSans/OpenSans-Bold.woff') format("woff")
  font-weight: bold
  font-style: normal
  font-display: swap
  
// icons font
@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0')
  src: url('../fonts/icomoon/icomoon.eot?o5wjt0#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?o5wjt0') format("truetype"), url('../fonts/icomoon/icomoon.woff?o5wjt0') format("woff"), url('../fonts/icomoon/icomoon.svg?o5wjt0#icomoon') format("svg")
  font-weight: normal
  font-style: normal
  font-display: block


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1


.icon-minus:before
  content: "\e901"

.icon-plus:before
  content: "\e906"
  color: #fff

.icon-angle-down:before
  content: "\e900"

.icon-delete:before
  content: "\e902"
  color: #e46151

.icon-edit:before
  content: "\e903"
  color: #666

.icon-marker:before
  content: "\e904"
  color: #d73b85

.icon-ruble:before
  content: "\e905"
  color: #666

.icon-place:before
  content: "\e907"