@import "vars"
@import "fonts"
@import "base"
// 2 - END of Tags styles and General styles ----------------------------------------------------------
// 3 - BEGIN of header ----------------------------------------------------------



.header
	padding: 0 0 16px
	transition: all .3s
		

	&-fixed
		position: fixed
		left: 0
		right: 0
		top: 0
		padding: 10px 0
		z-index: 9999
		transform: translate(0 0)
		background: rgba(255, 255, 255, 0.9)
		box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08)
		backdrop-filter: blur(20px)

		.logo
			max-width: 70px

		.header-top
			display: none

		&+.content
			padding-top: 153px


	&-wrap
		display: flex
		flex-wrap: wrap

	&-content
		width: calc(100% - 185px)
		padding-left: 15px

	&-top
		display: flex
		justify-content: space-between
		align-items: center
		padding: 12px 0
		font-size: 14px
		border-bottom: 1px solid #F0F0F0

		&__menu
			display: flex
			flex-wrap: wrap
			list-style: none

			li
				margin-right: 22px

				a
					&:hover
						opacity: 1
						color: $main

		&__contacts
			display: flex
			flex-wrap: wrap

			span
				padding-right: 22px
				font-weight: 600

			a
				font-weight: 600

		&__right
			display: flex
			align-items: center
			flex-wrap: wrap

			&--place
				position: relative
				padding: 0 22px 0 16px
				color: $main

				&:before
					content: '\e904'
					position: absolute
					left: 0
					top: 1px
					font-size: 14px
					font-family: icomoon
					color: $main

			.btn
				padding: 6px 10px
				font-size: 14px
				line-height: 16px
				border-radius: 24px

	&-nav
		display: flex
		justify-content: space-between
		align-items: center
		flex-wrap: wrap
		padding-top: 12px

	&-basket
		font-family: PTSans
		font-weight: bold
		font-size: 18px
		line-height: 20px
		color: #000

		.icon
			font-size: 12px


.main-menu
	display: flex
	flex-wrap: wrap
	list-style: none

	li
		margin-right: 18px

		a
			font-size: 16px
			line-height: 18px

			&:hover, &.active
				opacity: 1
				color: $main

		

.banner
	position: relative
	overflow: hidden
	margin: 0 auto  52px
	max-width: 1920px


	&-slider
		position: relative

		&__item
			position: relative
			margin-left: 15px
			margin-right: 15px

			&:before
				content: ''
				position: absolute
				top: 0
				bottom: 0
				right: 0
				left: 0
				z-index: 100
				background: linear-gradient(to right, rgba(181,206,69,1) 0%, rgba(181,206,69,0.76) 0%, rgba(255,255,255,0.76) 48%, rgba(255,255,255,0.76) 57%, rgba(247,220,110,0.76) 100%)
				border-radius: 12px 2px 2px 12px
				opacity: 1
				transition: all .3s
	
			&.slick-active
				&:before
					opacity: 0


			img
				display: block
				margin: 0 auto
				border-radius: 10px

	


.btn
	display: inline-block
	padding: 16px 26px
	font-size: 18px
	line-height: 24px
	font-weight: 600
	color: #fff
	text-align: center
	background: $main
	border-radius: 88px
	border: 2px solid transparent
	outline: none

	&:hover, &:focus
		color: $main
		opacity: 1
		background: #fff
		border-color: $main

	&-transparent
		padding: 10px 16px
		font-size: 16px
		line-height: 20px
		font-weight: 900
		color: $main
		text-align: center
		border: 2px solid
		border-radius: 24px
		background: #fff

		&:hover, &:focus
			background: $main
			color: #fff

	&-white
		padding: 12px 16px
		font-weight: 900
		font-size: 16px
		line-height: 20px
		background: #FFFFFF
		border-radius: 20px
		border: 0
		color: #000


.mobile-menu
	display: none
	

.product
	padding-bottom: 70px

	.h2
		margin-bottom: 27px

		span
			display: inline-block
			padding: 5px 14px
			border-radius: 12px
			background: #E46151
			color: #fff

	&-wrap
		display: flex
		flex-wrap: wrap

	&-item
		min-height: 536px
		margin-bottom: 30px
		background: rgba(255, 255, 255, 0.7)
		border: 1px solid rgba(204, 204, 204, 0.6)
		box-shadow: 0px 4px 24px rgba(214, 235, 255, 0.12)
		backdrop-filter: blur(20px)
		border-radius: 24px
		padding: 15px

		&__big
			padding: 24px
			background: rgba(26, 18, 18, 0.8)

			.product
				&-item
					color: #fff

					&__img
						height: 282px

					&__name
						height: auto
						font-size: 28px
						line-height: 32px
						a
							color: #fff

					&__text
						height: 96px

						p
							color: #fff

					&__tag
						color: #E3AB19

					&__bottom
						strong
							color: #fff

						.btn
							padding: 16px 46px
							font-size: 20px
							line-height: 22px
							color: #fff
							background-color: transparent


		&__img
			height: 238px
			display: flex
			align-items: center
			justify-content: center
			margin-bottom: 8px

			img
				display: block

		&__name
			height: 56px
			overflow: hidden
			margin-bottom: 8px
			font-weight: 600
			font-size: 18px
			line-height: 28px
			letter-spacing: 0.2px
			color: #000000

		&__text
			height: 134px
			margin-bottom: 16px
			overflow: hidden

			p
				font-size: 16px
				line-height: 22px
				color: #333333

		&__tag
			display: inline-block
			margin-bottom: 8px
			font-size: 16px
			line-height: 16px
			color: #C82020

		&__bottom
			display: flex
			align-items: center
			justify-content: space-between

			strong
				font-weight: 900
				font-size: 20px
				line-height: 22px






.footer
	padding-top: 48px
	background: #1D1D1B

	&-wrap
	
	&-links
		padding-bottom: 20px

		&__header
			margin-bottom: 16px
			color: #F7DC6E
			font-weight: 600
			font-size: 24px
			line-height: 32px

		ul
			list-style: none

			li
				display: inline-block
				margin-right: 16px
				margin-bottom: 12px

				a
					color: #fff

					&:hover
						opacity: 1
						color: $main

	&-bottom
		display: flex
		justify-content: space-between
		align-items: center
		padding: 12px 0
		border-top: 1px solid #4A4A45

		&__left
			display: flex
			flex-wrap: wrap
			align-items: center

	&-copy
		display: flex
		flex-wrap: wrap
		span
			margin-left: 35px
			color: #fff

		a
			margin-left: 35px
			color: #fff

	&-dev
		display: flex
		align-items: center

		span
			padding-right: 15px
			color: #fff

		img
			display: block


	.soc-btn
		display: flex
		align-items: center
		flex-wrap: wrap
		list-style: none

		li

			margin-left: 15px

			a

				font-size: 28px
				color: #fff


.count
	display: flex
	align-items: center
	width: 102px


	&-btn
		display: flex
		align-items: center
		justify-content: center
		padding: 0
		width: 34px
		height: 34px
		border-radius: 50%
		background-color: transparent
		border: 1px solid #E5E5E5
		outline: none

		.icon
			font-size: 16px

			&:before
				color: #000
				transition: all .3s

		&:hover
			opacity: 1
			background: $main
			border-color: $main

			.icon

				&:before
					color: #fff

	&-value
		width: 32px
		font-size: 16px
		line-height: 20px
		font-weight: 600
		color: #000
		text-align: center
		border: 0
		outline: none
		background-color: transparent

.section
	padding-bottom: 100px

.basket
	&-table
		display: table
		width: 100%
		border-collapse:separate
		border-spacing: 0 15px

		&__row
			display: table-row

		&__col
			display: table-cell
			padding: 16px 12px
			border-bottom: 1px solid #EBEBEB
			vertical-align: middle
			backdrop-filter: blur(20px)
			background: rgba(255, 255, 255, 0.86)
			

			&:first-child
				width: 55%
				border-radius: 12px 0 0 12px

			&:last-child
				border-radius: 0 12px 12px 0

			&--price
				min-width: 80px
				text-align: right

		&__info
			display: flex
			align-items: center

			&--text
				display: flex
				flex-direction: column
				width: calc(100% - 82px)
				padding-left: 15px

		&__del
			padding: 0
			font-size: 18px
			color: #E46151
			border: 0
			outline: none
			background-color: transparent



	.color-red
		font-weight: 600
		font-size: 20px
		line-height: 22px

	&-total
		max-width: 470px
		padding: 36px
		background: rgba(255, 255, 255, 0.86)
		border: 1px solid #E5E5E5
		backdrop-filter: blur(20px)
		border-radius: 12px

		&__range
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 13px

			span
				font-family: PTSans
				font-size: 18px
				line-height: 20px
				color: #333

		&__list
			padding-bottom: 12px
			border-bottom: 1px solid #EAEAEA
			
			ul
				list-style: none

				li
					display: flex
					flex-wrap: wrap
					justify-content: space-between
					margin-bottom: 8px
					font-size: 18px
					line-height: 20px
					font-family: PTSans

		.check-item
			margin: 0
			input[type=checkbox]+label
				&:before
					top: 3px

				

		&__bottom
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			padding-top: 16px
			margin-bottom: 9px

			span
				font-family: PTSans
				font-weight: bold
				font-size: 24px
				line-height: 26px

				.icon
					font-size: 16px

		&__bonus
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 20px

			span
				font-size: 18px
				line-height: 20px
				font-family: PTSans

			strong
				display: inline-block
				padding: 6px 8px
				background: #B6CE45
				border-radius: 59px
				color: #fff
				font-size: 18px
				line-height: 20px
				font-weight: bold
				font-family: PTSans


		.btn
			padding: 14px 15px
			width: 100%

#slider-range
	margin-bottom: 13px

.ui-widget-content
	height: 6px
	border-radius: 10px
	background: #C4C4C4
	border: none

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
	border: none
	width: 16px
	height: 16px
	border-radius: 50%
	background: $main

.ui-slider-horizontal
	.ui-slider-range
		height: 6px
		border-radius: 3px
		background: $main
	.ui-slider-handle
		outline: none
		top: -5px
		margin-left: -.7em
		cursor: pointer



.color
	&-red
		color: #E46151

	&-green
		color: #1CAC19

	&-blue
		color: #4285F4

	&-grey
		color: #737373


.toppings
	position: relative
	top: -40px

	.h3
		margin-bottom: 24px

	.row
		display: flex
		flex-wrap: wrap

	&-item
		min-height: 238px
		padding: 8px
		margin-bottom: 30px
		background: rgba(255, 255, 255, 0.86)
		border: 1px solid rgba(204, 204, 204, 0.6)
		backdrop-filter: blur(20px)
		border-radius: 12px

		&__img
			height: 124px
			display: flex
			align-items: center
			margin-bottom: 12px
			justify-content: center

		&__name
			margin-bottom: 8px
			font-size: 13px
			line-height: 18px
			text-align: center
			font-family: OpenSans

		&__price
			font-size: 14px
			line-height: 16px
			color: #666
			text-align: center
			font-weight: 600

	.count
		justify-content: center
		margin-bottom: 8px
		width: auto




.succses

	.h1
		margin-bottom: 12px
		text-align: center

		&+p
			margin-bottom: 36px
			font-family: PTSans
			text-align: center

.tabs

	&-nav
		display: inline-flex
		padding: 6px
		border: 2px solid $main
		border-radius: 12px
		list-style: none


		li
			margin-right: 8px

			&:last-child
				margin-right: 0

			a
				display: block
				padding: 12px 24px
				font-family: PTSans
				font-weight: bold
				font-size: 14px
				line-height: 14px
				color: #666
				letter-spacing: 0.01em
				text-transform: uppercase
				border-radius: 9px


				&.active
					color: #fff
					background-color: $main


	&-item
		display: none

		&.active
			display: block

		&__body
			padding: 24px 0 24px


.order
	max-width: 885px
	margin: 0 auto

	&-wrap
		position: relative
		display: flex
		flex-wrap: wrap

	h1, .h1
		margin-bottom: 36px

	&-delivery
		width: 400px
		padding: 18px 15px
		background: rgba(255, 255, 255, 0.86)
		border: 1px solid #F0F0F0
		backdrop-filter: blur(20px)
		border-radius: 12px

		.h3
			margin-bottom: 24px
			line-height: 28px

	&-total
		width: 470px
		height: 100%
		margin-left: 15px

		.basket-total
			width: 100%

			.btn
				margin-bottom: 36px

		.airSticky_fixed
			margin-top: 74px



	&-list
		max-width: 580px
		margin: 0 auto 56px
		padding: 32px
		list-style: none
		border: 1px solid #EAEAEA
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12)
		border-radius: 12px
		background: rgba(255, 255, 255, 0.86)

		li
			display: flex
			flex-wrap: wrap
			margin-bottom: 16px
			font-size: 16px
			font-family: PTSans
			

			span
				min-width: 190px
				color: #666

			strong
				width: calc(100% - 190px)

	&-data
		padding: 40px
		margin-bottom: 56px
		background: rgba(255, 255, 255, 0.86)
		border: 1px solid #EAEAEA
		box-sizing: border-box
		backdrop-filter: blur(20px)
		border-radius: 12px

		.h2
			margin-bottom: 40px
			text-align: center



	&-table
		width: 100%
		border-collapse: collapse

		thead
			tr
				td
					padding-bottom: 13px

		tr
			td
				padding: 10px 15px
				font-size: 14px
				line-height: 16px
				border-bottom: 1px solid #E5E5E5
				text-align: center
				vertical-align: middle

				&:first-child
					max-width: 240px
					padding-left: 0
					text-align: left

					img
						display: inline-block
						vertical-align: middle

					span
						display: inline-block
						padding-left: 16px
						vertical-align: middle

				&:last-child
					padding-right: 0

			&:last-child
					td
						border-bottom: 0

	&-result
		display: flex
		justify-content: center

		.basket-total
			width: 100%


.delivery-new
	display: none
	padding-top: 13px

	&__address
		
		.form-field
			display: none

.radio-list
	list-style: none

	&__item
		display: block
		margin-bottom: 11px

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 30px
				cursor: pointer
				font-size: 14px
				line-height: 16px

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid $main
					border-radius: 50%


			&:checked
				&+label
					&::after
						content: ''
						position: absolute
						left: 4px
						top: 3px
						width: 10px
						height: 10px
						border-radius: 50%
						background: $main


.switch-btn
	position: relative
	display: inline-block
	vertical-align: middle
	width: 48px
	height: 22px
	border-radius: 42px
	border: 1px solid #000
	cursor: pointer
	transition-duration: 300ms

	&+span
		display: inline-block
		padding-left: 8px
		vertical-align: middle

	&::after
		content: ""
		position: absolute
		height: 16px
		width: 16px
		border-radius: 50%
		background: #000
		top: 2px
		left: 3px
		transition-duration: 300ms
		z-index: 1

	&.switch-on
		border-color: $main

		&::after
			left: 27px
			background: $main
		&+span
			color: $main




.content
	position: relative
	background: url(../img/bg.png) no-repeat center top
	background-size: cover
	min-height: calc(100vh - 404px)

	.paralax
		position: absolute
		left: 0
		right: 0
		top: 0
		bottom: 0
		z-index: -1

	&-wrap
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		padding-bottom: 100px

	&-main
		width: calc(100% - 300px)
		padding: 38px 48px 56px
		background: rgba(255, 255, 255, 0.86)
		box-shadow: 0px 2px 12px rgba(81, 151, 181, 0.12)
		backdrop-filter: blur(20px)
		border-radius: 12px



.sidebar
	width: 270px
	height: 100%
	padding: 12px
	background: rgba(255, 255, 255, 0.86)
	backdrop-filter: blur(20px)
	border-radius: 24px

	&-mobile__btn
		display: none


	&-menu
		margin-bottom: 4px
		list-style: none

		li
			margin-bottom: 4px

			a
				display: inline-block
				padding: 22px 30px
				border-radius: 57px
				font-family: OpenSans
				font-weight: 600
				font-size: 16px
				line-height: 20px

				&.active
					background: #F7DC6E
					backdrop-filter: blur(20px)

		&__exit
			border-top: 1px solid #F0F0F0

			a
				color: #F82814



.bonus

	.h4
		margin-bottom: 28px

	&-info
		display: flex
		flex-wrap: wrap
		margin-bottom: 22px

	&-level
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		width: 68px
		height: 68px
		margin-right: 16px
		background: #B6CE45
		border-radius: 12px

		strong
			width: 36px
			height: 36px
			display: flex
			align-items: center
			justify-content: center
			text-shadow: 0px 2px 0px #758B12
			font-weight: 900
			font-size: 24px
			line-height: 16px
			border-radius: 50%
			color: #fff
			background: #9CB626

		span
			font-size: 12px
			line-height: 16px
			color: #000

	&-chip
		position: relative
		height: 68px
		padding-left: 75px
		padding-right: 12px
		display: flex
		align-items: center
		background: #F7DC6E
		border-radius: 12px
		font-weight: 900
		font-size: 20px
		line-height: 22px

		&:before
			content: ''
			position: absolute
			width: 51px
			height: 51px
			left: 12px
			top: 8px
			background: url(../img/casino-chip.png)


	&-table
		width: 100%
		border-collapse: collapse

		tr
			td
				padding: 18px 16px

				&:first-child
					border-radius: 12px 0 0 12px

				&:last-child
					border-radius: 0 12px 12px 0

		thead
			
			tr
				td
					background: $main
					color: #fff
					font-weight: 600

		tbody
			
			tr
				td
					font-size: 14px
					color: #444

					&:last-child
						color: #000

					strong
						font-family: OpenSans

				&:nth-child(even)
					td
						background: rgba(234, 234, 234, 0.6)


.address

	&-table

		&__item
			display: flex
			flex-wrap: wrap
			padding: 36px 0
			border-bottom: 1px solid #EAEAEA

			&--text
				display: flex
				flex-direction: column

			&:first-child
				border-top: 1px solid #EAEAEA

			

			&--info
				position: relative
				width: calc(100% - 62px)
				padding-left: 44px
				display: flex
				align-items: center
				flex-wrap: wrap
				font-family: OpenSans

				.icon
					position: absolute
					left: 0
					top: 0
					font-size: 40px

				span
					color: #666
					font-size: 14px
					line-height: 18px

				strong
					font-weight: 600
					font-size: 18px
					line-height: 28px
					color: #000

			&--btn
				display: flex
				align-items: center
				flex-wrap: wrap

				button
					padding: 0
					outline: 0
					border: 0
					background-color: transparent
					margin-left: 15px

					&:first-child
						margin: 0

					.icon
						font-size: 18px

						&-delete
							color: #C62734

.promo
	position: relative
	left: -10px

	&.row
		margin-left: -25px
		margin-right: -25px

		[class^='col']
			padding-left: 25px
			padding-right: 25px

	&-item
		height: 320px
		padding: 10px 10px 14px
		margin-bottom: 20px
		transition: all .3s
		border-radius: 5px 5px 24px 24px


		&__img
			margin-bottom: 10px
			overflow: hidden

			img
				display: block
				transition: all .3s

		.btn
			width: 100%
			padding: 14px 26px
			opacity: 0
			transition: all .5s

		&:hover
			background: rgba(255, 255, 255, 0.86)
			backdrop-filter: blur(20px)

			.btn
				opacity: 1

			img
				transform: scale(1.1)
			

.info

	&-row
		display: flex
		flex-wrap: wrap
		margin-bottom: 50px
		

	&-item
		width: 50%

		&:last-child
			padding-left: 30px

		.h2
			margin-bottom: 10px
			color: #000

		.h4
			margin-bottom: 10px
			font-weight: bold
			color: #000

		p
			margin-bottom: 26px
			color: #555
			font-family: PTSans

			strong
				color: #000

				&.color
					&-red
						color: #E46151

					&-green
						color: #1CAC19

					&-blue
						color: #4285F4

					&-grey
						color: #737373



.form
	&-item
		position: relative
		margin-bottom: 20px

		&__label
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			margin-bottom: 32px

		&__wrap
			display: flex
			justify-content: space-between
			flex-wrap: wrap

			.form-item
				width: 58%

				&:last-child
					width: 36%

		&__row
			display: flex
			justify-content: space-between
			flex-wrap: wrap

			.form-item
				width: 47%

		&__code
			display: flex
			justify-content: space-between
			flex-wrap: wrap
			margin-bottom: 20px

			.form-field
				width: calc(100% - 160px)


	&-field
		width: 100%
		height: 44px
		padding: 0 16px
		line-height: 44px
		display: block
		background: #FFFFFF
		border: 1px solid #E5E5E5
		border-radius: 56px
		font-size: 14px
		line-height: 16px
		color: #000
		outline: none

	textarea
		&.form-field
			height: 172px
			padding: 12px
			background: rgba(255, 255, 255, 0.8)
			border: 1px solid #E5E5E5
			box-sizing: border-box
			border-radius: 12px
			resize: none


.personal
	.h4
		margin-bottom: 24px

	&-form
		max-width: 354px

		.btn
			width: 100%
			margin-bottom: 24px
			padding: 14px 26px

	&-data
		a
			text-decoration: underline



.switch
	&-checkbox
		input[type="checkbox"], input[type="radio"]
			display: none




.check
	list-style: none

	&-item
		display: block
		margin-bottom: 11px

		input[type="checkbox"], input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				padding: 0 0 0 26px
				cursor: pointer
				font-size: 14px
				line-height: 18px
				color: #000000

				&::before
					content: ''
					position: absolute
					left: 0
					top: -1px
					width: 18px
					height: 18px
					display: flex
					align-items: center
					justify-content: center
					background-color: #fff
					border-radius: 0
					border: 1px solid $main
					border-radius: 2px


			&:checked
				&+label
					&::before
						content: ''
						background-image: url(../img/check.svg)
						background-position: center
						background-repeat: no-repeat
						background-color: $main


.address

	.h4
		margin-bottom: 20px

	&-form

		.form-item
			max-width: 420px

		&__color
			padding-bottom: 24px
			margin-bottom: 24px
			border-bottom: 1px solid #EAEAEA

		&__fields
			max-width: 420px

		.btn
			width: 100%
			padding: 14px 26px

			

.color

	&-list
		display: flex
		flex-wrap: wrap
		list-style: none

		input[type="radio"]
			display: none

			&+label
				position: relative
				display: block
				width: 36px
				height: 36px
				margin-right: 16px
				cursor: pointer
				border-radius: 50%
				

			&:checked
				&+label
					box-shadow: 0px 0px 0px 5px #D9D9D9

.bootstrap-datetimepicker-widget
	text-align: center

	display: flex
	justify-content: center

	.btn
		border: 0
		padding: 0
		font-size: inherit
		background-color: transparent
		color: #000



select
	display: none

.jq-selectbox
	position: relative
	width: 100%

	&__select
		width: 100%
			
	.jq-selectbox__select-text
		position: relative
		padding: 18px 30px 16px 18px
		width: 100%
		border: 1px solid #EBEBEB
		font-family: PTSans
		font-size: 18px
		line-height: 22px
		border-radius: 77px


		&::after
			content: '\e900'
			position: absolute
			right: 20px
			top: 20px
			font-family: icomoon
			font-size: 9px
			color: #000
			


	&.opened
		.jq-selectbox__select-text
			color: #000
			&::after
				transform: rotate(180deg)


	&.changed
		.jq-selectbox__select-text
			color: #000

	.jq-selectbox__dropdown
		position: absolute
		top: 59px!important
		left: 0!important
		z-index: 999
		min-width: 100%
		max-width: 100%
		


		ul
			max-height: 145px !important
			list-style: none
			overflow-y: scroll
			border-top: none
			background: #fff
			border: 1px solid #EBEBEB
			border-radius: 12px
			li
				padding: 10px 20px
				font-size: 16px
				line-height: 19px
				color: #666
				border-bottom: 1px solid #EBEBEB
				transition: all .3s

				&:hover
					background: #EBEBEB


			&::-webkit-scrollbar-track
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3)
				background-color: #EBEBEB


			&::-webkit-scrollbar
				width: 8px
				
				border-radius: 2px


			&::-webkit-scrollbar-thumb
				border-radius: 10px
				-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3)
				background: #999




.history

	&-item
		margin-bottom: 24px
		border: 1px solid #E5E5E5
		border-radius: 12px
		&__header
			position: relative
			padding: 16px 50px 16px 16px
			background: #FFFFFF
			border-radius: 12px
			
			
			cursor: pointer

			&:before
				content: '\e900'
				position: absolute
				right: 20px
				top: 22px
				font-family: icomoon
				font-size: 9px
				color: #000



		&__body
			display: none
			padding: 0 0 16px

			.row
				width: 100%
				margin: 0

		&.active

			.history

				&-item

					&__header
						background-color: transparent

						&:before
							transform: rotate(-180deg)

					&__body
						display: flex
						flex-wrap: wrap


	&-order
		&__item
			position: relative
			display: flex
			flex-wrap: wrap
			margin-bottom: 32px
			background: #fff

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: -15px
				width: 100%
				height: 1px
				background: #EAEAEA

			&:last-child
				margin-bottom: 0
				&:before
					display: none

		&__img
			width: 140px
			display: flex
			align-items: center
			justify-content: center
			padding: 5px

		&__info
			width: calc(100% - 140px)
			padding: 14px 15px
			&--bottom
				display: flex
				justify-content: space-between
				align-items: center
				max-width: 260px
				font-family: PTSans

		&__name
			display: flex
			align-items: center
			margin-bottom: 12px

			strong
				padding-right: 8px
				font-family: PTSans
				font-weight: bold
				font-size: 18px
				line-height: 22px
				color: #000

			span
				padding: 5px 8px 7px
				background: #EAEAEA
				border-radius: 6px

		&__price
			font-weight: bold
			font-size: 14px
			line-height: 16px
			color: #C62734

		&__count
			font-weight: bold
			font-size: 14px
			line-height: 18px

		&__total
			font-weight: 600
			font-size: 20px
			line-height: 22px
			color: #000

			.icon
				font-size: 14px

				&:before
					color: #000

	&-data
		padding-top: 20px

		&__list
			padding-bottom: 8px
			list-style: none

			li
				display: flex
				justify-content: space-between
				flex-wrap: wrap
				margin-bottom: 8px
				font-family: PTSans
				font-size: 16px
				line-height: 20px
				color: #333333

		&__total
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			padding: 16px 0
			border-top: 1px solid #EAEAEA
			color: #000
			font-family: PTSans

			span
				
				font-weight: bold
				font-size: 16px
				line-height: 26px

			&--price
				font-weight: bold
				font-size: 24px
				line-height: 26px

				.icon
					font-size: 16px
					color: #666


.modal
	display: none
	max-width: 570px
	width: 100%
	padding: 36px
	border-radius: 12px

	.h2
		margin-bottom: 28px

	&-body
		padding: 0



	.fancybox-button
		width: 24px
		height: 24px
		padding: 0
		opacity: 1
		right: 16px
		top: 16px


	&-form

		

		.check-item
			margin-top: 20px

			input[type=checkbox]+label::before, .check-item input[type=radio]+label::before
				top: 3px


	.tabs

		&-nav
			position: relative
			display: flex
			padding: 0
			border: 0
			border-radius: 0

			&:before
				content: ''
				position: absolute
				left: 0
				right: 0
				bottom: 0
				width: 100%
				height: 1px
				background: #E5E5E5

			a
				
				min-width: 120px
				padding-top: 8px
				padding-bottom: 8px
				border-radius: 6px 6px 0px 0px
				border: 1px solid transparent
				background: #fff
				color: #999

				&:hover
					opacity: 1

				&.active
					position: relative
					background: #fff
					border: 1px solid #E5E5E5
					color: $main

					&:before
						content: ''
						position: absolute
						left: 0
						right: 0
						bottom: -1px
						width: 100%
						height: 1px
						background: #fff
						z-index: 10


		&-item
			&__body
				padding: 24px 0 8px

				.jq-selectbox .jq-selectbox__select-text
					font-size: 14px
					line-height: 16px

	.form-item__wrap
		margin-bottom: 16px


.width
	&-65
		width: 65%

	&-30
		width: 30%




#modal
	&-login
		max-width: 470px

		.form

			>.btn
				width: 100%
	&-enter

		.form
			&-item
				&__label
					label
						width: 120px

					.form-field
						width: calc(100% - 130px)

	&-address

		.form-item
			margin-bottom: 16px

		textarea
			&.form-field
				height: 64px

	&-gift
		max-width: 986px

		.h2
			margin-bottom: 0

		p
			font-weight: 600
			font-size: 18px
			line-height: 28px
			letter-spacing: 0.2px

		.product
			&-wrap
				margin-top: 40px

				[class^='col']
					>strong
						display: block
						margin-bottom: 20px
			&-item
				.btn
					width: 100%



.burger-btn
	font-size: 20px
	color: $main

	span
		display: block
		width: 30px
		height: 2px
		background: $main
		margin-bottom: 5px

		&:last-child
			margin-bottom: 0

.bottom-fixed

	&__gift

		.footer
			padding-bottom: 48px

	&__promocode
		.footer
			padding-bottom: 88px

.fixed
	position: fixed
	left: 0
	right: 0
	bottom: 0
	width: 100%
	z-index: 101


.gift
	background: #fff
	padding: 6px 0

	&-progress
		position: absolute
		left: 0
		top: 10px
		height: 36px
		background: linear-gradient(90deg, #E46151 -0.47%, #EE808C 23.08%, #E45C9C 49.24%, #F6DD73 73.84%, #B7CE47 100%)
		border-radius: 0px 64px 64px 0px

	&-wrap
		position: relative
		display: flex
		justify-content: space-between
		align-items: center

	&-price
		padding: 2px 6px
		background: #FFFFFF
		border-radius: 6px
		font-weight: 900
		font-size: 20px
		line-height: 22px
		color: #E46151

		&:last-child
			color: #000


.promocode
	background: #fff

	&-wrap
		height: 88px
		display: flex
		align-items: center
		justify-content: space-between

	&-form
		display: flex
		align-items: center
		flex-wrap: wrap
		justify-content: space-between
		max-width: 400px
		width: 100%

		.form-field
			width: calc(100% - 135px)

	&-order
		display: flex
		flex-wrap: wrap

		&__summ
			display: flex
			align-items: center
			flex-wrap: wrap

			span
				font-weight: 600
				font-size: 24px
				line-height: 28px
				color: #333

				&:last-child
					padding-left: 24px

		.btn
			margin-left: 64px
			padding: 14px 60px
			font-size: 18px
			line-height: 24px






































@media only screen and (max-width: 1199px)

	.mobile-menu
		display: block

		.active
			color: $main

	.logo
		max-width: 150px

	.header
		&-nav
			justify-content: flex-end

		&-basket
			padding-right: 15px

		&-content
			width: calc(100% - 150px)

	.promo
		&.row
			margin-left: -10px
			margin-right: -10px

			[class^='col']
				padding-left: 10px
				padding-right: 10px












@media only screen and (max-width: 991px)
	.footer
		&-bottom
			flex-direction: column
			align-items: center

		&-dev
			margin: 10px 0

		.soc-btn li
			&:first-child
				margin-left: 0

	.toppings
		top: auto

	.sidebar
		position: fixed
		left: 0
		top: 100px
		width: 30px
		z-index: 1
		background: transparent
		backdrop-filter: blur(0)
		border-radius: 0

		>*:not(.sidebar-mobile__btn)
			display: none

		&.active
			left: 0
			top: 100px
			width: 220px
			z-index: 999
			background: #FAFAFA

			>*:not(.sidebar-mobile__btn)
				display: block


		&-mobile__btn
			display: block
			outline: none
			border: none
			background-color: transparent
			font-size: 30px
			color: $main


			&:hover, &:focus
				opacity: 1

			&.active
				position: absolute
				right: 5px
				top: -2px
				font-size: 24px
				.fa
					&::before
						content: '\f00d'

		&-menu
			padding-top: 20px

			li
				a
					display: block
					padding: 10px 20px
					font-size: 14px

	.content
		&-wrap
			display: block

		&-main
			width: auto

	.promo

		&-item
			height: auto

			.btn
				opacity: 1

	.order
		&-wrap
			display: block

		&-delivery
			width: auto

		&-total
			margin: 30px 0 0

	.promocode-form
		max-width: 300px

	.promocode-order
		&__summ 
			span
				font-size: 18px
				line-height: 24px

		.btn
			margin-left: 30px
			padding: 12px 30px
			font-size: 18px
			line-height: 24px











@media only screen and (max-width: 768px)
	
	.header-top
		justify-content: flex-end

	.banner
		margin-bottom: 20px

	h1, .h1
		margin-bottom: 20px
		font-size: 36px
		line-height: 36px

	h2,.h2
		font-size: 24px
		line-height: 30px

	h3,.h3
		font-size: 18px
		line-height: 24px

	h4, .h4
		font-size: 16px
		line-height: 20px

	.sidebar
		left: 11px
		top: 120px

	.content
		&-main
			.h4
				font-size: 20px
	
	.info
		&-row
			margin-bottom: 0
			display: block

		&-item
			width: auto

			&:last-child
				padding-left: 0


	.fixed
		display: none

	.bottom-fixed

		.footer
			padding-bottom: 0



















@media only screen and (max-width: 550px)
	.basket-table
		&__info
			img
				display: none

			&--text
				width: auto
				padding: 0
				font-size: 12px

		&__col
			padding: 10px 5px
			font-size: 12px

			&--price
				min-width: 50px


	.basket .color-red
		font-size: 16px
		line-height: 16px

	.section
		padding-bottom: 60px

	.order-list
		padding: 24px
		margin-bottom: 30px

		li
			flex-direction: column
			margin-bottom: 10px
			font-size: 14px

			strong
				width: 100%

	
	.order-data
		padding: 0
		box-shadow: none
		border: 0



	.order-table tr td
		padding: 10px 5px
		font-size: 12px
		line-height: 16px

	.order-total
		width: auto

	.basket-total
		padding: 20px

		.btn
			padding: 12px 15px
			font-size: 15px

		&__list
			padding: 10px 0

			ul

				li
					font-size: 14px
					line-height: 16px

		&__bottom 
			span
				font-size: 16px
				line-height: 20px

				.icon
					font-size: 11px

		&__bonus
			align-items: center
			span
				font-size: 16px
			strong
				font-size: 16px


	.bonus
		
		&-table
			min-width: 380px

			&__wrap
				overflow-x: auto
			
			thead
				tr
					td
						font-size: 12px
						padding: 12px 10px
			tbody
				tr
					td
						font-size: 12px

				tr 
					td
						padding: 12px 10px

	.content
		&-main
			padding-right: 15px

	.color-list
		li
			margin-bottom: 10px

	.history
		&-order
			&__img
				display: none

			&__info
				width: 100%

			&__name
				 strong
				 	font-size: 16px
				 	line-height: 20px

			&__total
				font-size: 16px

				.icon
					font-size: 10px

	.promo
		position: static
		&.row
			display: flex
			flex-wrap: wrap
			margin: 0


			[class^="col"]
				width: 100%
				padding: 0

		&-item
			img
				width: 100%








@media only screen and (max-width: 479px)
	.header-top__right--place
		display: none

	.logo
		max-width: 100px

		img
			display: block

	.sidebar
		top: 100px

	.header
		&-wrap
			align-items: center

		&-content
			width: calc(100% - 100px)

		&-basket
			font-size: 16px

			.icon 
				font-size: 10px


	.product
		&-item
			min-height: auto
			&__img
				height: auto

			&__name
				height: auto

			&__text
				height: auto

			&__big
				.product
					&-item
						&__img
							height: auto

						&__name
							font-size: 20px
							line-height: 24px

						&__bottom
							flex-direction: column
							.btn
								margin-top: 10px
								padding: 12px 30px
								font-size: 16px
								line-height: 20px


	.footer
		&-copy
			font-size: 12px

			span
				margin-left: 15px
			a
				margin-left: 10px

		&-dev
			font-size: 12px


	.bonus
		&-info
			display: block
		&-level
			margin-bottom: 10px

		&-chip
			font-size: 16px


	.address
		&-table
			&__item
				&--info
					width: calc(100% - 56px)
					padding-left: 24px

					strong
						font-size: 14px
						line-height: 20px

					.icon
						font-size: 20px



	.form
		&-item
			&__wrap
				display: block
				margin: 0

				.form-item
					margin-bottom: 20px
					width: 100%

					&:last-child
						width: 100%

	.switch-btn
		&+span
			font-size: 12px